body,html,#app {
    height: 100%
}

.selected {
    background: #ec656c;
}

.initialising {
  animation-name: backgroundColorPalette;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: background-color 1s;
  background: #7fc19f;
}

.instrument {
    width: 100%;
    height: 50%;
    Display: block;
    Border: 1px solid red;
    text-align: center;
}


.unselected {
    background: #ead6d6;
}

.instrument-name{
    border: 1px solid red;
    display: inline;
    font-size: 5em;
    height: 50%;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

.pedal {
    width: 33%;
    border: 1px solid blue;
    display: inline-block;
    position: absolute;
}

/*
  https://techstacker.com/how-to-loop-background-color-animation-css/
*/
/* Standard syntax */
@keyframes backgroundColorPalette {
 0% {
    background: yellow;
  }
  25% {
    background: red;
  }
  50% {
    background: purple;
  }
  75% {
    background: palegreen;
  }
  100% {
    background: green;
  }
}
